body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

#root {
	min-height: 100vh;
	display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
	height: 20px;
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	border: 1rem;
	text-align: center;
	display: flex;
  	justify-content: center; 
  	align-items: center; 
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: aliceblue;
	font-weight: 600;
}

.header {
	background-color: rgba(0, 0, 0, 0.5);
}

.basicInfo {
	font-size: 40px;
}

.temp {
	font-size: 72px;
}

.icon {
	height: 10rem;
}

.content {
	padding: 20px;
	vertical-align: middle;
}